* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    /*background-attachment: fixed;
    background-repeat: repeat-x;
    background-color:#363636;
    */
}

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color:deeppink;
}

#container {
    width: 100%;
}

/* TOP CONTAINER PART */

#top_container_part {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 100px;
}

img.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

#contact_box {
    position: absolute;
    right: 40px;
    top: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color:ghostwhite
}

/* TOP MENU */
#top_menu {
    position: absolute;
    left: 60px;
    bottom: -10px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color:black;
}

#major_top_menu li {
    list-style-type: none;
    float: left;
    border-right: 2px solid black;
}

#major_top_menu li a {
    background-color: silver;
    height: 25px;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:black;
}

#major_top_menu li a:hover {
    background-color: darkgrey;
    color:deeppink;
}

span.link {
    display: inline-block;
    margin-top: 5px;
}
