* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-position-y: 150px;
    /*background-attachment: fixed;
    background-repeat: repeat-x;
    background-color:#363636;
    */
}

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color:deeppink;
}

#container {
    position: relative;
    width: 100%;
    z-index: 0;
}

/* TOP CONTAINER PART */

#top_container_part {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 100px;
}

img.logo {
    position: absolute;
    left: 20px;
    top: 20px;
}

#contact_box {
    position: absolute;
    right: 40px;
    top: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color:ghostwhite
}

/* TOP MENU */
#top_menu {
    position: absolute;
    left: 60px;
    bottom: -10px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color:black;
}

#major_top_menu li {
    list-style-type: none;
    float: left;
    border-right: 2px solid black;
}

#major_top_menu li a {
    background-color: silver;
    height: 25px;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:black;
}

#major_top_menu li a:hover {
    background-color: darkgray;
    color:deeppink;
}

span.link {
    display: inline-block;
    margin-top: 5px;
}

/* INNER MENU */
#inner_menu {
    background-color: darkgray;
    height: 50px;
}

#inner_menu li {
    list-style-type: none;
    float: left;
}

#inner_menu li a {
    border-bottom: none;
    color: #111111;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#inner_menu li a:hover {
    color: deeppink;
}

#inner_menu li span.link2 {
    display: block;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

#inner_menu #inner_menu_level1 {
    margin-left: 80px;
}

/* Drop-down menu */
#inner_menu_level1 li .inner_menu_level2 {
    position: absolute;
    z-index: 1;
    display: none;
    position: absolute;
    background-color: darkgray;
    border-width: 1px 3px 3px 3px;
    border-style: solid;
    border-color: white;
    border-top-color: darkgray;
    top: 3em;
    left: 0em;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#inner_menu_level1 li:hover .inner_menu_level2 {
    display: block;
    width: 180px;
}

#inner_menu_level1 li .inner_menu_level2 li {
    width: 140px;
    text-align: left;
    margin-left: 20px;
    border-top: 1px solid white;
}

#inner_menu_level1 > li {
    position: relative;
    height: 51px;
}

#inner_menu_level1 li .inner_menu_level2 li a {
    display: block;
    width: 140px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-style: normal;
}

#inner_menu_level1 li .inner_menu_level2 li a:hover {
    background-color:silver;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
}

#inner_menu_level1 li .inner_menu_level2 li.first_element_menu {
    margin-top: 5px;
}

/* CONTENT */

#content {
    width: 60%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#top_content_part {
    background-color: lightseagreen;
    height: 20px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    /*margin-top: -1px;*/
}

#middle_content_part {
    background-color: lightseagreen;
}

#bottom_content_part {
    background-color: lightseagreen;
    height: 30px;
    border-top-style: solid;
    border-width: thick;
}

#text {
    text-align: justify;
    padding: 10px 50px;
    line-height: 140%;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    text-align: justify;
    padding: 10px 50px;
    line-height: 140%;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
    font-family: Calibri, Tahoma, Arial;
    font-style: italic;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    font-family: Calibri, Tahoma, Arial;
    font-style: italic;
}

p {
    margin-bottom: 15px;
}

#content ul {
    margin: 20px;
    margin-left: 20px;
    list-style: square;
}

#content li {
    margin-left: 5px;
}

#content .side_text {
    background-color: mediumseagreen;
    float: right;
    text-align: left;
    width: 20%;
    margin: 10px 20px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px dashed black;
    padding: 20px 15px;
}

#footer {
    background-color: gray;
    width: 60%;
    height: 65px;
    padding-top: 15px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#footer p {
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: ghostwhite
}
